<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewpoint" content=width-device-width, initial-scale="1.0">
    <title>Employee Management Application</title>
</head>

<body>
<h1>Student Course Planner</h1>
<table>
        <tr>
            <th>Coursecode</th>
            <th>Course name</th>
            <th>Credit</th>
            <th>Availability</th>
            <th>Format</th>
            <th>Type</th>
            <th>Actions</th>
        </tr>
        {{#Courses}}
        <tr>
            <td>{{ course_code }}</td>
            <td>{{ course_name }}</td>
            <td>{{ credit }}</td>
            <td>{{ availability }}</td>
            <td>{{ format }}</td>
            <td>{{ course_type }}</td>
        </tr>
        {{/Courses}}
    </table>
</body>