<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewpoint" content=width-device-width, initial-scale="1.0">
    <title>Employee Management Application</title>
</head>

<body>
<h1>Student Course Planner</h1>

{{#errors.length}}
<p>please fix the following errors:</P>
<ul>
    {{#errors}}
    <li>{{.}}</li>
    {{/errors}}
</ul>
{{/errors.length}}

<a href ="/add"> add course</a>


{{#showAddForm}}
        <div class="form-container">
            <h3>Register New Course</h3>
            <form action="/addCourse" method="POST">
                <label for="code">Program Code</label>
                <input type="text" name="code">
                <label for = "name">program Name</label>
                <input type="text" name="name">
                <label for= "credit">Enter the credit</label>
                <input type="text" name="credit">

                <select name="availability">availability
                    <option value="1">Available (Yes)</option>
                    <option value="0">Unavailable (No)</option>
                </select>
                <select name="format">Format
                    <option value="Online">Online</option>
                    <option value="In-person">In-person</option>
                </select>
                <label for= "type">Enter the course_lv(type)</label>
                <input type="text" name="type">
                <label for= "description">Enter the course desciption</label>
                <input type="text" name="description">
                <button type="submit">Save Course</button>
            </form>
        </div>
{{/showAddForm}}

{{#detailCourse}}
    <h2>{{course_code}}, {{course_name}}, {{course_type}}</h2>
    <p>Description: {{description}}</p>
    <p>Credit : {{credit}} | Format : {{format}} | Availability : {{#availability}}Yes{{/availability}} {{^availability}}No {{/availability}}
{{/detailCourse}}

{{#updatecourse}}

 <div class="form-container">
            <h3>Update Course</h3>
            <form action="/update/{{formdata.id}}" method="POST">
                <label for="code">Program Code</label>
                <input type="text" name="code">
                <label for = "name">program Name</label>
                <input type="text" name="name">
                <label for= "credit">Enter the credit</label>
                <input type="text" name="credit">

                <select name="availability">availability
                    <option value="1">Available (Yes)</option>
                    <option value="0">Unavailable (No)</option>
                </select>
                <select name="format">Format
                    <option value="Online">Online</option>
                    <option value="In-person">In-person</option>
                </select>
                <label for= "type">Enter the course_lv(type)</label>
                <input type="text" name="type">
                <label for= "description">Enter the course desciption</label>
                <input type="text" name="description">
                <button type="submit">Update Course Course</button>
            </form>
        </div>
{{/updatecourse}}

{{^detailCourse}}
    <table>
            <tr>
                <th>Coursecode</th>
                <th>Course name</th>
                <th>Credit</th>
                <th>Availability</th>
                <th>Format</th>
                <th>Type</th>
                <th>Actions</th>
            </tr>
            {{#Courses}}
            <tr>
                <td>{{ course_code }}</td>
                <td>{{ course_name }}</td>
                <td>{{ credit }}</td>
                <td>{{#availability}} Yes{{/availability}} {{^availability}} No {{/availability}}</td>
                <td>{{ format }}</td>
                <td>{{ course_type }}</td>
                <td><a href="/detail/{{ id }}"> D </a><a href="/delete/{{ id }}"> X </a><a href="/updatecourseform/{{ id }}"> U</a>
            </tr>
            {{/Courses}}
        </table>
{{/detailCourse}}

    
</body>